<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015284912058-bkdsui7mpdic50ohimoe8r16a85l5933.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015284912058-bkdsui7mpdic50ohimoe8r16a85l5933</string>
	<key>API_KEY</key>
	<string>AIzaSyCeEwLjrtkkqoGjow8URmU5R9jfJnQBbro</string>
	<key>GCM_SENDER_ID</key>
	<string>1015284912058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationCoded</string>
	<key>PROJECT_ID</key>
	<string>test-template-27ab9</string>
	<key>STORAGE_BUCKET</key>
	<string>test-template-27ab9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015284912058:ios:173417a79ab2d870cc1783</string>
</dict>
</plist>